In [21]:
import pandas as pd
import numpy as np
import pymongo
import json
from pymongo import MongoClient

In [22]:
client = MongoClient('mongodb+srv://DestiNationGuide:5keyeDycE3qfsZPB@destinationguide.o0wsv1e.mongodb.net/')

In [23]:
db = client['DestiNationGuide']

In [24]:
db

Database(MongoClient(host=['ac-gzge3kp-shard-00-02.o0wsv1e.mongodb.net:27017', 'ac-gzge3kp-shard-00-01.o0wsv1e.mongodb.net:27017', 'ac-gzge3kp-shard-00-00.o0wsv1e.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, authsource='admin', replicaset='atlas-s2aph7-shard-0', ssl=True), 'DestiNationGuide')

In [25]:
collection_name = 'PlaceData'

In [26]:
collection = db[collection_name]
cursor_data = list(collection.find())

In [27]:
client.close()

In [28]:
first_document = cursor_data[0] if cursor_data else {}
column_names = list(first_document.keys())

In [29]:
Places_df = pd.DataFrame(cursor_data, columns=column_names)

In [30]:
Places_df.head(1)

,_id,Place_id,Name,Category,City,State,Country,latitude,longitude,LongDescription,ShortDescription,Activities,Amenities,Image,Timings,Fee,FeeLink,userReviewRating,TIP,BMTV
0,65bf29fd693a71e739c2fcb2,1,Nal Sarovar,"[Wildlife sanctuary, Migratory bird habitat, N...",Ahmedabad,Gujarat,India,22.7886,72.0328,"Nal Sarovar, a tranquil bird sanctuary near Ah...","Tranquil bird sanctuary near Ahmedabad, a wint...","[Bird Watching, Boat Ride, Nature Photography]","[Boat Rentals, Bird Watching Platforms, Nature...",[https://firebasestorage.googleapis.com/v0/b/d...,"open daily from 6 AM - 6 PM, but the ticket wi...","Mon to Fri-₹40.00,Sat - Sun-₹50.00",Not Available,"{'User1': 'Review', 'User2': 'Review'}",123,November to February

In [31]:
Places_df['Activities'] = Places_df['Activities'].apply(lambda x: ', '.join(x))
Places_df['Amenities'] = Places_df['Amenities'].apply(lambda x: ', '.join(x))
Places_df['Category'] = Places_df['Category'].apply(lambda x: ', '.join(x))

In [32]:
Places_df['Activities']

0          Bird Watching, Boat Ride, Nature Photography
1     Historical Tours, Gandhi Museum Visit, Peacefu...
2                    Architectural, Religious, Cultural
3      Boating, Picnicking, Nature Walks, Bird Watching
4     Exploring themed gardens and natural trails, O...
5     Walking and jogging on paved paths, Relaxing o...
6     Exploring the stepwell, Learning about the his...
7     Religious Ceremonies, Spiritual Discourses, Te...
8     Art Appreciation, Photography, Historical Expl...
9     Shopping, Street Food Delights, Cultural Exper...
10    Exploring Exhibits, Attending Cultural Perform...
11    Attending conferences, exhibitions, and events...
12    Open Shack Sitting Area at Beach, Beach Benche...
13    Camel Rides, Hot Air Balloon Safari, Jeep Safa...
14                Cultural Show, Shopping, Museum Visit
15    Visit Bhujio Fort, Panoramic Views, Hiking and...
16    Archaeological Exploration, Photography, Appre...
17    Sunbathing, Boat Ride, Swimming, Water Sports,...
18    Sunbathing, Boat Ride, Swimming, Water Sports,...
19    Historical Tours, Flag Viewing, Cultural Exhib...
20    Walking trails, Bird Watching, Photography, Re...
21    Wildlife Safari, Bird Watching, Photography, I...
22    Historical Exploration, Architectural Apprecia...
23    Worship and Darshan, Religious Ceremonies, Med...
24    Wildlife Viewing, Guided Tours, Photography, P...
25    Historical Exploration, Architectural Apprecia...
26    Wildlife Safari, Bird Watching, Photography, C...
27    Historical Exploration, Architectural Apprecia...
28    Historical Exploration, Architectural Apprecia...
29    Trekking, Wildlife Viewing, Bird Watching, Pho...
30    Worship and Darshan, Religious Rituals, Pilgri...
31    Meditation, Nature Walks, Photography, Reflect...
32    Historical Exploration, Architectural Apprecia...
33    Historical Exploration, Archaeological Study, ...
34    Worship and Darshan, Religious Rituals, Pilgri...
35              Shopping, Games, Entertainment, Dinning
36    Wildlife viewing, Nature walks, Photography, F...
37    Forest Jump, Wild Raft, Tribal Twist, Jungle B...
38    Picnics and Relaxation, Swimming, Birdwatching...
39    Boat, Zip lining, Horse Riding, Picnicking, Ch...
40    Darshan, Lectures and Discourses, Satsang & Bh...
41             Shopping, Movie, Dinning, Games, VR Room
42    Palace Tour, Museum Visit, Garden Exploration,...
43    Observe mammals, Witness bird species, Explore...
44    Arch.marvel, Shikhara majesty, Artistic murals...
45    Boating, Walking, Bird watching, Photography, ...
Name: Activities, dtype: object

In [33]:
# Places_df['latitude1'] = Places_df['latitude'].astype(str)
# Places_df['longitude1'] = Places_df['longitude'].astype(str)

In [34]:
Places_df['tags'] = Places_df['Category']+Places_df['Activities']+Places_df['Amenities']+Places_df['City']+Places_df['LongDescription']+Places_df['ShortDescription']+Places_df['BMTV']+Places_df['Timings']

In [35]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfv = TfidfVectorizer(min_df=3,  max_features=None, 
            strip_accents='unicode', analyzer='word',token_pattern=r'\w{1,}',
            ngram_range=(1, 3),
            stop_words = 'english')

# Filling NaNs with empty string
Places_df['tags'] = Places_df['tags'].fillna('')

In [36]:
# Fitting the TF-IDF on the 'overview' text
tfv_matrix = tfv.fit_transform(Places_df['tags'])

In [37]:
from sklearn.metrics.pairwise import sigmoid_kernel

# Compute the sigmoid kernel
sig = sigmoid_kernel(tfv_matrix, tfv_matrix)

In [38]:
# Reverse mapping of indices and movie titles
indices = pd.Series(Places_df.index, index=Places_df['Name']).drop_duplicates()

In [39]:
def give_rec(title, sig=sig):
    # Get the index corresponding to original_title
    idx = indices[title]

    # Get the pairwsie similarity scores 
    sig_scores = list(enumerate(sig[idx]))

    # Sort the movies 
    sig_scores = sorted(sig_scores, key=lambda x: x[1], reverse=True)

    # Scores of the 10 most similar movies
    sig_scores = sig_scores[0:11]

    # Movie indices
    movie_indices = [i[0] for i in sig_scores]

    title_name = Places_df['Name'].iloc[movie_indices]
    # likes = Projects_df['likes'].iloc[movie_indices]
    return (title_name)

In [41]:
give_rec('Khodiyar mata mandir')

23    Khodiyar mata mandir
30        bhavanth mahadev
7            ISKCON Temple
34          Somnath Temple
10              Akshardham
40           Isckon Temple
20           Victoria Park
2              Jama Masjid
44            Kirti Mandir
22              Ganga deri
31         baba pyare cave
Name: Name, dtype: object